* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nirmala UI", sans-serif;
  background: #FFA62E;
  background: -webkit-linear-gradient(to right, #FFA62E, #EA4D2C);
  background: linear-gradient(to right, #FFA62E, #EA4D2C);
}